<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Thruster Todos</title>
		<link rel="stylesheet" href="/static/site.css">
	</head>
	<body>
		<h1>Thruster Todos — {{ action }} Todo</h1>
		<hr>
		<form method="POST">
			<div class="form-row">
				<label for="title">Task title</label>
				<input type="text" name="title" id="title" placeholder="New Task"  value="{{ todo.title | default(value="") }}" required>
			</div>
			<div class="form-row">
				<label for="start-date">Start date</label>
				<input type="date" name="start-date" id="start-date" value="{{ todo.startable | default(value="") }}" required>
			</div>
			<div class="form-row">
				<label for="due-date">Due date</label>
				<input type="date" name="due-date" id="due-date" value="{{ todo.due | default(value="") }}" required>
			</div>
			<input type="submit" value="{{ action }}">
		</form>
	</body>
</html>